body {
  background-color: sandybrown;
}
a {
  color: black;
  text-decoration: none;
}
main.container {
  border-radius: 24px;
  width: 100%;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;

  /* text-align: center; */
}
main.container > div {
  width: 90%;
}
main.container > div > h1 {
  text-align: center;
}
main.container > div > section:nth-child(2) {
  text-align: center;
}
#input {
  width: 20em;
  border-radius: 24px;
  height: 46px;
  padding-left: 30px;
  padding-right: 60px;

  border: 0;
  background-color: rgb(240, 143, 58);
  font-size: 1.4em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#plus-button {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 0;
  background-color: rgb(240, 143, 58);
  position: relative;
  right: 50px;
  bottom: 5px;
  text-align: center;
}
.tab {
  margin: 10px 0;
  width: 100%;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 24px;
  cursor: pointer;
}

/* .tab > #press-indicaitor {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  height: inherit;
  border-radius: 24px;
} */
.tab span {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  height: 100%;
}
.tab span:hover {
  box-shadow: rgba(93, 79, 50, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 24px;
}
.add-tasks > .tasks {
  font-size: 1.8em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 24px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  align-items: center;
  min-height: 50px;
  margin: 10px 0;
}

.tasks > section:first-child {
  width: 50%;
}
.tasks > section:nth-child(2) {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}
.tasks > section > a:first-child {
  margin-right: 2em;
}

@media screen and (max-width: 768px) {
  #input {
    width: 15em;
  }
  .tab {
    font-size: 1.5em;
  }
  .add-tasks > .tasks {
    justify-content: space-between;
    padding: 0.3em 1em;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 437px) {
  #input {
    width: 10em;
  }
  .tab {
    font-size: 1.2em;
  }
  .add-tasks > .tasks {
    font-size: 1em;
  }
}
